In [1]:
import pandas as pd
import numpy as np

# Creat dictionary to hold data
exam_data = {'Name':['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
             'Score':[12.5, 9, 16.5, np.NAN, 9, 20, 14.5, np.NAN, 8, 19],
             'Attempts':[1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
             'Qualify':['Yes', 'No', 'Yes', 'No', 'No', 'Yes', "Yes", 'No', 'No', 'yes'],
             }

# Create labels list to be the index of the DataFrame
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

# Create data fram from the 'exam_data' dictionary
# The indices are the labels list
df = pd.DataFrame(exam_data,index=labels)

# Print the first three rows
print(df.head(3))
print()

# Delete rows with NaN values
df = df.dropna()

# Extract the 'Name' and 'Score' Column from the DataFrame
print(df['Name'])
print()
print(df['Score'])
print()

dict2 = {'Name':['Suresh'],
         'Score':[15.5],
         'Attempts':[1],
         'Qualify':['Yes']}

# Append new row 'k' to the DataFrame
df.loc['k'] = ['Suresh', 15.5, 1, 'Yes']
print(df)
print()

# Delete the 'Attempts' column
df = df.drop(columns='Attempts')
print(df)
print()

# Add new column 'Success'
df['Success'] = np.where(df['Score'] > 10, 1, 0)
print(df)
print()

# Export the data frame into a CSV
df.to_csv("my_data.csv")

        Name  Score  Attempts Qualify
a  Anastasia   12.5         1     Yes
b       Dima    9.0         3      No
c  Katherine   16.5         2     Yes

a    Anastasia
b         Dima
c    Katherine
e        Emily
f      Michael
g      Matthew
i        Kevin
j        Jonas
Name: Name, dtype: object

a    12.5
b     9.0
c    16.5
e     9.0
f    20.0
g    14.5
i     8.0
j    19.0
Name: Score, dtype: float64

        Name  Score  Attempts Qualify
a  Anastasia   12.5         1     Yes
b       Dima    9.0         3      No
c  Katherine   16.5         2     Yes
e      Emily    9.0         2      No
f    Michael   20.0         3     Yes
g    Matthew   14.5         1     Yes
i      Kevin    8.0         2      No
j      Jonas   19.0         1     yes
k     Suresh   15.5         1     Yes

        Name  Score Qualify
a  Anastasia   12.5     Yes
b       Dima    9.0      No
c  Katherine   16.5     Yes
e      Emily    9.0      No
f    Michael   20.0     Yes
g    Matthew   14.5     Yes
i      Kevin    8.0      No
j      Jonas   19.0     yes
k     Suresh   15.5     Yes

        Name  Score Qualify  Success
a  Anastasia   12.5     Yes        1
b       Dima    9.0      No        0
c  Katherine   16.5     Yes        1
e      Emily    9.0      No        0
f    Michael   20.0     Yes        1
g    Matthew   14.5     Yes        1
i      Kevin    8.0      No        0
j      Jonas   19.0     yes        1
k     Suresh   15.5     Yes        1